<div class="container">
    <div class="title">
        <h1>Image Analyzer</h1>
    </div>
    <div style="display: block;">
        <div>
            <div class="card">
                <div class="card-header">
                    <h3>Upload Image</h3>
                </div>
                <div class="uploadinput">
                    <input class="btn btn-warning" (change)="ImageChange($event)" type="file"
                        accept="image/gif, image/jpeg, image/png">
                </div>
                <div class="card-image">
                    &nbsp;
                    <div *ngIf="imageURL">
                        <img [src]="imageURL" width="100%" height="50%" />
                    </div>
                    <div *ngIf="loading" class="sk-wave">
                        <div class="sk-wave-rect"></div>
                        <div class="sk-wave-rect"></div>
                        <div class="sk-wave-rect"></div>
                        <div class="sk-wave-rect"></div>
                        <div class="sk-wave-rect"></div>
                    </div>
                </div>
                <div class="analyze-button">
                    <button class="btn btn-primary analyzebut" (click)="AnalyzeImage()">Analyze</button>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div *ngIf="receivedResult">
            <div class="card" *ngIf="Response.Dimensions.width" id="result">
                <div class="card-header">
                    <h3>Analyzer Result</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <col>
                        <colgroup span="2"></colgroup>
                        <tbody>
                            <tr>
                                <th scope="rowgroup" rowspan="2">Dimensions</th>
                                <th scope="row">Width</th>
                                <td>{{Response.Dimensions.width}} px</td>
                            </tr>
                            <tr>
                                <th scope="row">Height</th>
                                <td>{{Response.Dimensions.height}} px</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="Response.DominantColor.rgba">
                            <tr>
                                <th scope="rowgroup" rowspan="3">Dominant Color</th>
                                <th scope="row">RGBA value</th>
                                <td> {{Response.DominantColor.rgba}}</td>
                            </tr>
                            <tr>
                                <th scope="row">HEX value</th>
                                <td> {{Response.DominantColor.hex}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Color</th>
                                <td>
                                    <div class="colorDisplay"
                                        [ngStyle]="{'background-color': Response.DominantColor.hex}">
                                        &nbsp;
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="Response.Prediction">
                            <tr>
                                <th>Prediction</th>
                                <th>Image</th>
                                <td>{{Response.Prediction | uppercase}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>