.container {
    padding-top: 25px;
}

.title {
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
}

.card {
    width: 50%;
    height: auto;
    margin: auto;
}

.card-header {
    text-align: center;
}

.card-image {
    margin: auto;
    margin-bottom: 5px;
}

img {
    max-height: 300px;
    border-radius: 5px;
}

.uploadinput {
    margin: auto;
    padding: 5px 5px;
    display: inline-block;
}

.analyzebut {
    width: 100%;
    float: inline-end;
}

input[type="file"] {
    width: 80%;
    margin: auto;
    margin-left: 10%;
} 

.displaycards {
    display: flex;
}

#result .row {
    width: 80%;
    margin: auto;
}

.sk-wave {
    width: 75px;
    margin: auto;
}

.colorDisplay {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

@media only screen and (max-width: 992px) {
    .card {
        width: 80%;
    }
}

@media only screen and (max-width: 568px) {
    .card {
        width: 100%;
    }
}